/* App.css */

.App {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .centered-text{
  
    font-size: 5rem;
    color: #fcedd8; 
    font-family: 'Niconne', cursive;
    font-weight: 90;
    text-shadow: 2px 2px 0px #eb452b, 
              4px 4px 0px #efa032, 
              6px 6px 0px #46b59b, 
              8px 8px 0px #017e7f, 
              10px 10px 0px #052939, 
              12px 12px 0px #c11a2b, 
              14px 14px 0px #c11a2b, 
              16px 16px 0px #c11a2b, 
              18px 18px 0px #c11a2b;

}

  
  .right-corner-button {
    position: absolute;
    top: 20px;
    right: 50px;

    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    
  }
  
  .right-corner-button:hover{
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
}


.contacts-header {
  margin: 50px 10px 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 50px;
}

#th-name {
  margin-right: auto;
  display: table-header-group;
  font-weight: bold;
}

#th-phone {
  padding-right:50x;
  text-align: center;
  display: table-header-group;
  font-weight: bold;
}

#th-email {
 padding-right: 511px;
  display: table-header-group;
  font-weight: bold;
  
}

.content {
  flex: 1;
  flex-grow: 1;
  overflow: scroll;
  
  .contact-form-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
}